h1 {
    text-align: center;
}

.topic {
    padding: 5px;
    background: #aaa;
    border: 1px solid #000;
    width: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
}

.topic.selected {
    background: black;
    color: white
}

.topic:hover {
    text-decoration: underline;
}